* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header */
.header {
  background-color: #4f000b;
  color: white;
  padding: 20px;
  /* text-align: center; */
  position: sticky;
  top: 0;
  z-index: 99;
  border: 2px solid black;
  height: 70px;
}

/* Sidebar */
.sidebar {
  background-color: #fdf0d5;
  width: 250px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 70px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  z-index: 1000;
  /* border: 2px solid black; */
}

.sidebar .nav-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.sidebar .nav-links li {
  padding: 10px;
}

.sidebar .nav-links li a {
  text-decoration: none;
  color: black;
  display: block;
  padding: 10px 15px;
}
.sidebar .nav-links li i {
  font-size: 20px;
  margin-right: 10px;
}

.sidebar .nav-links li a:hover {
  color: #780000;
  border-radius: 6px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.nav-link.current {
  color: #780000 !important;
}

/* Menu Icon */
.menu-icon {
  display: none;
  /* Hidden on larger screens */
  position: fixed;
  top: 24px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
  z-index: 2001;
  color: #ffffff;
}

.menu-icon .menu-close {
  display: none;
  /* Hide close icon by default */
}

/* Content */
.content {
  margin-left: 250px;
  flex-grow: 1;
  padding: 20px;
  transition: margin-left 0.3s ease-in-out;
}

.dropdown {
  position: relative;
}
.dropdown-content {
  position: absolute;
  list-style: none;

  display: none;
  width: 200px;
  background-color: antiquewhite;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 3;
}
.dropdown-content a {
  display: inline-block;
  padding: 10px;
}
.dropdown.show .dropdown-content {
  display: block;
}
.dropdown .dropbtn {
  transition: all 0.3s linear;
}
.dropdown.show .dropbtn {
  transform: rotate(90deg);
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .sidebar {
    left: -100%;
    /* Sidebar hidden */
  }

  .sidebar.active {
    left: 0;
    /* Sidebar visible */
  }

  .menu-icon {
    display: block;
    /* Menu icon visible on smaller screens */
  }

  .menu-icon.open .menu-open {
    display: none;
    /* Hide the "hamburger" when sidebar is open */
  }

  .menu-icon.open .menu-close {
    display: inline;
    /* Show the "close" icon when sidebar is open */
  }

  .content {
    margin-left: 0;
    /* Full width content */
  }

  .dropdown-content {
    position: relative;
  }
  .dropdown-content li {
    margin: 0px;
  }
}
