body {
  font-family: Montserrat, Arial, sans-serif;
}

.footer_wrapper {
  /* margin-top: 50px; */
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  background-color: #fff;
}

/* ###### Footer data  Section ##### */

.footer_data {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
  padding: 40px 20px;
  background-color: rgba(11, 92, 171, 1);
  color: white;
  width: 100%;
  border-bottom: 1px solid #ddd;
}

.footer_data_box {
  flex: 1;
  background-color: rgba(11, 92, 171, 1);
}

.footer_data_box h2 {
  margin-bottom: 20px;
}
.footer_data_box h4 {
  margin-bottom: 10px;
}
.footer_data_box p {
  margin-bottom: 8px;
  font-size: 14px !important;
}
.footer_data_box img {
  height: 60px;
}
.footer_data_box h1 {
  font-family: "Montserrat-Bold";

  font-size: 2rem;
  letter-spacing: 3px;
}

.footer_data_box a {
  text-decoration-line: none;
  color: white;
  font-size: 1rem;
  font-family: Montserrat-Regular;
  list-style-type: none;
  line-height: 25px;
}
.footer_data_box p {
  color: white;
  font-size: 1rem;
  font-family: Montserrat-Regular;
}

.footer_data_box li {
  margin-bottom: 10px;
}
.footer_data_box li::marker {
  color: transparent;
}

.contact_details {
  display: flex;
  margin-bottom: 10px;
}
.contact_details .contact_details_logo img {
  width: 20px;
  height: auto;
  margin-right: 10px;
  filter: invert(100%) brightness(200%);
}

.footer_data_box i {
  margin-right: 10px;
  color: white;
  font-size: 28px;
}
.footer_data_box i:hover {
  transform: scale(1.05);
}
.copyright {
  padding-bottom: 10px;
}
.certification {
  width: 200px;
  height: auto !important;
}
.social-icons {
  text-align: right !important;
}

/* ##### RESPONSIVE SECTION ###### */
@media screen and (max-width: 768px) {
  .footer_data {
    display: flex;
    flex-direction: column;
  }
  .footer_data h1 {
    margin-bottom: 10px;
  }
  .social-icons {
    text-align: left !important;
  }
}
