/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px 20px;
  color: black;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 90px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.navbar .logo {
  width: 150px;
  height: 60px;
}
.dropdown-icon i {
  color: rgba(11, 92, 171, 1);
  font-size: 17px;
  cursor: pointer;
}

/* Menu Icon (Hamburger for mobile) */
.menu-icon {
  display: none;
  font-size: 1.5rem;
  color: black;
  cursor: pointer;
  position: absolute;
}
.close-btn {
  display: none;
}

/* Navbar Links */
.nav-links {
  list-style: none;
  display: flex;
  /* border: 2px solid red; */
  align-items: center;
  /* height: 32px; */
}
.nav-links .current {
  border-bottom: 2px solid rgba(11, 92, 171, 1);
  color: rgba(11, 92, 171, 1);
  font-weight: 900;
}

.nav-links li {
  margin: 0 15px;
  position: relative; /* Required for dropdown positioning */
  /* border: 2px solid black; */
  /* height: 100%; */
  /* display: flex; */
  /* align-items: center; */
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-family: Montserrat-Regular;
  text-transform: uppercase;
  /* border: 2px solid blue; */
  /* height: 100%; */
  /* display: inline-block; */
}
.dropbtn {
  /* border: 2px solid green;
  display: inline-block;
  height: 100%; */
}

/* Dropdown Menu */
.dropdown-content {
  display: none;
  flex-direction: column; /* Column layout */
  background-color: rgba(11, 92, 171, 1); /* Background color */
  width: 330px; /* Minimum width */
  z-index: 1;
  padding: 10px 0; /* Padding for dropdown */
  /* border: 2px solid red; */
  position: absolute;
  /* top: 17px; */
}

.dropdown-content li {
  padding: 10px; /* Padding for dropdown items */
  list-style: none;
}

.dropdown-content li a {
  color: #fff; /* Link color */
  display: block; /* Block display for dropdown items */
  font-size: 1rem;
  transition: all 0.3s ease;
  text-transform: capitalize;
}
.dropdown-content li a:hover {
  border-bottom: 2px solid white;
}

.dropdown-content.show {
  display: flex; /* Show dropdown when it has 'show' class */
}

.dropdown-icon {
}

/* Mobile and Tablet View */
@media (max-width: 1000px) {
  .nav-links {
    list-style: none;
    display: flex;

    align-items: flex-start;
    /* height: 32px; */
  }
  .navbar .logo {
    margin-left: 40px;
  }
  .menu-icon {
    display: block;
  }

  /* Initial position off-screen (left) and hidden */
  .nav-links {
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    /* max-width: 70%; */
    height: 100vh; /* Full height */
    background-color: rgba(11, 92, 171, 1);
    color: white;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%); /* Start off-screen */
    padding-top: 20px;
    z-index: 9; /* Ensure it is above other elements */
    overflow-y: auto;
    padding-bottom: 50px;
    /* border: 2px solid red; */
    /* border: 2px solid red; */
  }
  .dropdown-content {
    display: none; /* Hidden by default */
    flex-direction: column; /* Column layout */
    background-color: rgba(11, 92, 171, 1); /* Background color */
    width: auto; /* Minimum width */
    z-index: 1;
    padding: 10px 0; /* Padding for dropdown */
    /* border: 2px solid red; */
    position: relative;
    box-shadow: rgb(2, 25, 48) 0px 3px 8px;
  }

  /* When active, slide the menu in from the left */
  .nav-links.active {
    transform: translateX(0);
  }

  .nav-links li {
    text-align: left;
    margin: 10px 0;
    /* border: 2px solid red; */
    padding: 4px 15px;
  }
  .nav-links li a {
    color: white;
    text-align: left;
  }
  .nav-links .current {
    border-bottom: 2px solid white;
    color: white;
    font-weight: 900;
  }
  .dropdown-content li {
    /* padding-left: 0px; */
  }

  /* Close Button */
  .close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 2em;
    color: #fff;
    cursor: pointer;
    z-index: 10; /* Ensure it is above other elements */
    display: block;
  }
  .dropdown-icon i {
    color: white;
    font-size: 17px;
    cursor: pointer;
  }
}
